@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

body {
  margin: 0;
  font-family: "Gowun Dodum", sans-serif;
}

:root {
  --primary-bg-color: #6b7280;
  --secondary-bg-color: #f9fafb;
  --primary-text-color: #f9fafb;
  --secondary-text-color: #4b5563;
}

/* container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 600px;
  flex-direction: column;
  margin: auto;
}

.container-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.container-output {
  font-weight: bold;
  color: var(--secondary-text-color);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid gray;
}

.container-header-home {
  width: 100%;
}

.container-footer-home {
  width: 100%;
  text-align: end;
}

/* links */
.rotate-right {
  transform: rotate(-8deg);
}

/* input */
.input-angle {
  width: 70px;
  height: 40px;
  margin: auto;
  border: 2px solid var(--primary-bg-color);
  border-radius: 25px;
  text-align: center;
}

.input-breadth,
.input-height {
  width: 70px;
  height: 30px;
  margin: auto;
}

/* button */
.btn-check {
  margin: 2rem;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;
  border: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  width: 85px;
  height: 35px;
  border-radius: 20px;
}

.btn-reset {
  display: none;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;
}

.btn-angles {
  background-color: var(--primary-bg-color);
  margin: 1rem 0rem;
  border-radius: 30px;
  text-align: center;
  color: var(--primary-text-color);
  font-family: "Gowun Dodum", sans-serif;
  padding: 1rem 2rem;
  text-decoration: none;
}

/* image */
.bg-top {
  height: 120px;
}

.bg-bottom {
  height: 110px;
}

/* text */
.question {
  color: var(--secondary-text-color);
  padding: 0rem 1rem;
}

.label {
  width: 100px;
  margin: auto;
  text-align: left;
  font-weight: bold;
  color: var(--secondary-text-color);
  margin-top: 15px;
}
